body {
    background-color: lightgray;
    border: solid black 3px;
}

.appMainHeader {
    background-color: black;
    justify-self: center;
    width: 95vw;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: double orange 5px;
}

